@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --blue: hsl(246, 80%, 60%);
  --lightRed: hsl(15, 100%, 70%);
  --softBlue: hsl(195, 74%, 62%);
  --lightRed: hsl(348, 100%, 68%);
  --limeGreen: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --softOrange: hsl(43, 84%, 65%);
  --veryDarkBlue: hsl(226, 43%, 10%);
  --darkBlue: hsl(235, 46%, 20%);
  --desaturatedBlue: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
#root {
  width: 100%;
  height: 100%;
  background-color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  height: 350px;
}
.profile {
  background-color: var(--darkBlue);
  border-radius: 10px;
  width: 170px;
  height: 100%;
}
.profile-main {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 1.2rem 1.2rem 3rem 1.2rem;
}
.profile-main img {
  border: 2px solid var(--paleBlue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
}
.profile-main > p {
  font-size: 12px;
  color: var(--paleBlue);
}
.profile-main .name {
  font-size: 20px;
  color: white;
}
.profile-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 12px;
}
.profile-links a {
  text-decoration: none;
  color: var(--desaturatedBlue);
}
.profile-links a:hover {
  color: white;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  width: 50%;
}
.grid-container .item {
  background-color: var(--darkBlue);
  border-radius: 10px;
}
.grid-container .item .image-bg {
  border-radius: 10px 10px 0 0;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
.image-bg img {
  margin-right: 1rem;
}
.item-title {
  border-radius: 10px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-title p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.item-title img {
  cursor: pointer;
}
.item-timeframe {
  padding: 0.7rem 1rem 0 1rem;
}
.item-timeframe .current {
  font-size: 40px;
  color: white;
  font-weight: medium;
}
.item-timeframe .previous {
  font-size: 12px;
  color: var(--paleBlue);
  margin-top: 0.5rem;
}